<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cyber Crew</title>
    <link rel="stylesheet" href="assets/css/plugin.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="shortcut icon" href="assets/img/logo.png" type="image/x-icon">       
</head>

<body>

    <!-- Start Preload -->
    <div class="preloader">
    </div>
    <div class="block-1"></div>
    <div class="block-2"></div>
    <div class="logo-load">
        <img class="loader-logo" src="assets/img/logo.png" alt="">
    </div>
    <div class="logo-load spinning"></div>
    <div class="over-all"></div>
    <!-- End Preload -->

    <!-- Start Header -->
    <header>

        <nav>
            <!-- Logo -->
            <div class="logo hover-target">
             <a href="Melange-2023/index.html">TherapAI</a>
            </div>
            <!-- Menu bar -->
            <div class="toggle-btn magnetic hover-target">
                <div class="">
                    <span class="one"></span>
                    <span class="two"></span>
                    <span class="tre"></span>
                </div>
            </div>
            <!-- Social -->
            <div class="scr socials">
                <div class="list-social">
                    <ul>
                        <!-- <li class="hover-target"><a href="#">Db.</a></li> -->
                        <li class="hover-target"><a target="_blank" href="https://www.youtube.com/channel/UCFpQzKcQV5lxtPV9NE2LUUQ">Yt.</a></li>
                        <li class="hover-target"><a target="_blank" href="https://www.instagram.com/sajs_cybercrew/?hl=en">Ig.</a></li>
                        <li class="hover-target"><a target="_blank" href="https://www.facebook.com/cybercrewSAJS/">Fb.</a></li>
                    </ul>
                </div>
            </div>

            <!-- Copyright -->
            <div class="scr copyright-top">
                <p>Cyber Crew &copy; 2022-23</p>
                
            </div>
            <div class="scr countdown copyright-top">
                <p class="countdown-inside">00 : 00 : 00 
                </p>
                
            </div>
            <div id="fnt-size" class="scr countdown copyright-top">
                <p>Left for Mélange 
                </p>
                
            </div>
            

            <div class="bg-nav"></div>

            <!-- menu -->
            <div class="manu-container">
                <div class="menu">
                    <div class="data">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="links text-center text-lg-left">
                                        <ul>
                                            <li>
                                                <p>01</p><a class="menu-link hover-target load-spiral"
                                                    href="index.html">Home</a>
                                            </li>
                                            <li>
                                                <p>02</p><a class="menu-link hover-target load-spiral"
                                                    href="about.html">About Us</a>
                                            </li>
                                            <li>
                                                <p>03</p><a class="menu-link hover-target load-spiral"
                                                    href="work.html">Team</a>
                                            </li>
                                            <li>
                                                <p>04</p><a class="menu-link hover-target load-spiral"
                                                    href="contact.html">Contact Us</a>
                                            </li>
                                            <li>
                                                <p>05</p><a class="menu-link hover-target load-spiral"
                                                    href="Melange-2023/index.html">Mélange</a>
                                            </li>
                                           
                                        </ul>
                                    </div>

                                </div>

                                <div class="col-md-4 offset-md-2 centered text-right">
                                    <div class="address-menu">

                                        <h3>TherapAI</h3>
                                        <!-- <h4> Block B, Sector 14, Vasundhara, Ghaziabad, Uttar Pradesh 201012</h4> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </nav>


    </header>

    <!-- End Header -->


    <!-- Start Content -->
    <div id="spiral">

        <!-- Header -->
       
        <div class="main-head">
            <div class="banner">
                <video autoplay loop muted>
                    <source src="assets/img/Render-.mp4" type="video/mp4">
                </video>
            </div>
            <div id="headmove">
                <div data-depth="0.2">
                    <div class="bg-right"></div>
                </div>
            </div>
         
        </div>

        <!-- About -->
        <section class="about">
            <div class="container">
                <div class="row centered">
                    <div class="col-lg-7">
                        <div class="img-about luxy-el" data-horizontal="1" data-speed-x="1">
                            <img class="img-fluid" src="assets/img/about.jpg" alt="">

                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="abt-text">
                            <p>Cyber Crew is the computer club of Seth Anandram Jaipuria School, founded in 2014. We nurture the minds of students towards creativity and their talent towards computer technology.</p>
                            <a class="hover-target load-spiral" href="about">Explore more</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!-- Portfolio -->

      


        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center text-md-left mt-30">
                        <div class="mail hover-target">
                            <a  href="mailto:cybercrew.sajs@gmail.com?subject=Message%20from%20your%20site">cybercrew.sajs@gmail.com</a>
                        </div>
                    </div>
                    <div class="col-md-4 text-center mt-30">
                        <div class="logo-foot">
                            <img src="assets/img/logo.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 text-center text-md-right mt-30">
                        <div class="sosmed">
                            <ul>
                                <!-- <li class="hover-target"><a href="#">Dribbble.</a></li> -->
                                <li class="hover-target"><a target="_blank" href="https://www.youtube.com/channel/UCFpQzKcQV5lxtPV9NE2LUUQ">YouTube</a></li>
                                <li class="hover-target"><a target="_blank" href="https://www.instagram.com/sajs_cybercrew/?hl=en">Instagram.</a></li>
                                <li class="hover-target"><a target="_blank" href="https://www.facebook.com/cybercrewSAJS/">Facebook</a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <p>Cyber Crew &copy;2022-23. All Rights Reserved</p>
                            <p>Made with ♥ by Sarthak Deora</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="countdown"><p> 00 : 00 : 00</p></div>
    <!-- End Content -->

    <!-- Toggle menu -->


    <!-- Cursor -->
    <!-- <div class="cursor1" id="cursor1"></div>
    <div class="cursor" id="cursor"></div> -->

    <script src="assets/js/plugin.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/konami.js"></script>
</body>




</html>